.multiDay-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}
.btnGroup-container {
  background-color: white;
  margin: auto;
  border: $border;
}
