$desktop: 1280px;
@import '../Variables.scss';

@media screen and (min-width: $phone) {
  #conditions-container {
    background-color: white;
    border-radius: 10px;
    color: #0d86df;
    border: 2px solid #0d86df;
    text-align: center;
    padding-bottom: 10px;
  }

  .logo-container {
    width: 100px;
    overflow: hidden;
  }

  h2,
  h4 {
    margin: 0;
    font-size: 20px;
  }
}
@media screen and (min-width: $tablet) {
  #conditions-container {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: $phoneLandscape) {
  .container {
    width: 50%;
    margin: auto;
  }
  .container {
    width: 80%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
}

@media screen and (min-width: $desktop) {
  #conditions-container {
    background-color: white;
    border-radius: 10px;
    color: #0d86df;
    border: $border;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  .logo-container {
    width: 150px;
    overflow: hidden;
  }
}
